@model Nation

@{
    ViewData["Title"] = "Details";
}

<div class="container">


    <div class="row justify-content-md-center">
   
    <div class="col-md-auto">
     <h1>Nationality Details</h1>
    </div>
    </div>
 
    
    <br/>


<div>
    <dl class="row">

         <div class="row justify-content-md-center">
                <div class="col-md-auto">
      

        <dt>
            @Html.DisplayNameFor(model=>model.NationName)
        </dt>
        <dd>
             @Html.DisplayFor(model=>model.NationName)
        </dd>
        
        
        <dt>
            @Html.DisplayNameFor(model=>model.IsActive)
        </dt>
        <dd>
             @Html.DisplayFor(model=>model.IsActive)
        </dd>
        
        <div>
    <a asp-action="Index" class="btn btn-info">Back to the main page</a>
       </div>


    </dl>
</div>



</div>
</div>