@model Nation

@{
    ViewData["Title"] = "Details";
}

<h1>Nationality Details</h1>


<div>
    <dl class="row">

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model=>model.NationName)
        </dt>
        <dd>
             @Html.DisplayFor(model=>model.NationName)
        </dd>
        
        
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model=>model.IsActive)
        </dt>
        <dd>
             @Html.DisplayFor(model=>model.IsActive)
        </dd>
        

    </dl>
</div>

<div>
    <a asp-action="Index">Back to the main page</a>
</div>
