@model Desig

@{
    ViewData["Title"] = "Edit";
}

<div class="container">


    <div class="row justify-content-md-center">
   
    <div class="col-md-auto">
     <h1>Edit Designation</h1>
    </div>
    </div>
 
<br />

 
            <form asp-action="Edit">
                 <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                       <input type="hidden" asp-for="Id" class="form-control" />

                <div class="row justify-content-md-center">
                <div class="col-md-auto">

                  <div class="form-group">
                        <label asp-for="Designation" class="control-label"></label>
                        <input asp-for="Designation" class="form-control" />
                        <span asp-validation-for="Designation" class="text-danger"></span>
               </div>


                 <div class="form-group form-check">
                         <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsActive"/>@Html.DisplayNameFor(model=>model.IsActive) 
                 </label> 
                 </div>

               <br />

            <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary"/>      
            </div>
           

            </div>
            </div>

            </form>
        </div>
    